@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@theme {
  --font-archivo: "Archivo Black", sans-serif;   
  --animate-slideUp: slideUp 0.8s ease;
  --animate-blink: blink 1.5s infinite;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%,
  100% {   
    opacity: 0.3;  
  }
  50% {
    opacity: 1; 
  } 
}        